<super-navbar>
    <super-navbar-title ng-bind="viewTitle"></super-navbar-title>
</super-navbar>

<div ng-show="eventsLead" class="card">
    <div class="item item-text-wrap" ng-bind-html="eventsLead"></div>
</div>

<div class="row" ng-show="selectedSubCategory">
    <div class="col">
        <h4>{{ selectedSubCategory.name }}</h4>
    </div>
</div>

    <div ng-show="hasSubcategories" class="row responsive-sm" ng-repeat="subcategories in splitSubcats">
        <div class="col" ng-repeat="subcategory in subcategories">

            <super-navigate ng-show="hasSubcategories" location="#/category/{{ categoryId }}/subcategory/{{ subcategory.id }}">
                <button class="button button-stable button-block category-btn">{{ subcategory.name }}</button>
            </super-navigate>
        </div>

    </div>

    <div ng-hide="hasSubcategories" class="row responsive-sm" ng-repeat="events in splitEvents">
        <div class="col" ng-repeat="event in events">

            <super-modal-show ng-if="!event.skipModalTo" location="#/category/{{ categoryId }}/{{ event.id }}">
                <button class="button button-stable button-block category-btn">{{event.name}}</button>
            </super-modal-show>

            <button ng-if="event.skipModalTo" class="button button-stable button-block category-btn" ng-click="openUrl(event.skipModalTo)">{{event.name}}</button>
        </div>
    </div>

</div>
