<super-navbar>
    <super-navbar-title ng-bind="viewTitle"></super-navbar-title>
</super-navbar>

<div ng-show="eventsLead" class="card">
    <div class="item item-text-wrap" ng-bind-html="eventsLead"></div>
</div>

<div class="row responsive-sm" ng-repeat="events in splitEvents">
    <div class="col" ng-repeat="event in events">

        <super-modal-show ng-if="!event.skipModalTo" location="#/category/{{ categoryId }}/{{ event.id }}">
            <button class="button button-stable button-block category-btn">{{event.name}}</button>
        </super-modal-show>

        <button ng-if="event.skipModalTo" class="button button-stable button-block category-btn" ng-click="openUrl(event.skipModalTo)">{{event.name}}</button>

    </div>
</div>
